.post__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.innerContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postImage {
  background-color: #ffffff !important;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.avatar-uploader {
  display: flex;
  justify-content: center;
}
