* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  object-fit: contain;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: #ffffff;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.posts {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.avatar-uploader > .ant-upload {
  width: 150px;
  height: 128px;
  background-color: #e6e6e6;
}

.app_postsRight {
  margin-left: 20px;
}
